<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/chat/chats-list.js" async></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/chat/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Chat</title>
</head>
<body>
<nav>
    <a href="https://buonarroti.tn.it" id="logo-link"><img src="/logo.png" alt="buonarroti-logo"></a>
    <button class="settings-button"><img src="/settings-icon.png" alt="settings-icon"></button>
    <div id="settings-panel">

        <label for="sent-color">Colore Messaggi Inviati:</label>
        <input type="color" id="sent-color" value="#d1f7c4">

        <label for="received-color">Colore Messaggi Ricevuti:</label>
        <input type="color" id="received-color" value="#a0a0a0">

        <label for="chat-bg">Sfondo Chat:</label>
        <input type="color" id="chat-bg" value="#ffffff">

        <button>Applica</button>
    </div>
</nav>
<section id="app-container">
    <section id="chats-list">
        <% for(let chat of chats) { %>
            <div class="chat-item" data-chat-id="<%= chat.id %>">
                <h2><%= chat.name %></h2>
            </div>
        <%}%>
    </section>
    <section id="chat-container">
        <h2>Seleziona una chat per iniziare a scrivere.</h2>
    </section>
</section>



</body>
</html>