<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat/app.js" async></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/chat/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Chat</title>
</head>
<script>
    const chatId = "<%= chatId %>";
    const userId = "<%= userId %>";
</script>
<body>
    <nav>
        <a href="https://buonarroti.tn.it" id="logo-link"><img src="/logo.png" alt="buonarroti-logo"></a>
        <button class="settings-button"><img src="/settings-icon.png" alt="settings-icon"></button>
        <div id="settings-panel">

            <label for="sent-color">Colore Messaggi Inviati:</label>
            <input type="color" id="sent-color" value="#d1f7c4">

            <label for="received-color">Colore Messaggi Ricevuti:</label>
            <input type="color" id="received-color" value="#a0a0a0">

            <label for="chat-bg">Sfondo Chat:</label>
            <input type="color" id="chat-bg" value="#ffffff">

            <button>Applica</button>
        </div>
    </nav>

    <div class="chat-container" id="chat-container">
        <div class="messages"></div>
        <div class="chat-input">
            <form id="send-message-form" action="/" method="GET">
                <input name="text" type="text" placeholder="Messaggio">

                <button type="submit"><img src="/send-icon.png" alt="Invia"></button>
            </form>
        </div>
    </div>


</body>
</html>