<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="/chat/app.js" async></script>
    <title>Chat</title>
</head>
<body>
    <ul id="messages">
    <% for(let message of messages) { %>
        <li><%= message %></li>
    <%}%>
    </ul>
    <form id="send-message-form" action="/" method="GET">
        <input name="text" type="text" placeholder="Messaggio">
        <input name="group" type="number">

        <input type="submit" value="Invia">
    </form>
</body>
</html>