<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/login/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Chat</title>
</head>
<body>
<nav>
    <a href="https://buonarroti.tn.it" id="logo-link"><img src="/logo.png" alt="buonarroti-logo"></a>
    <a href="/login">Login</a>
</nav>
<form action="/signup" method="POST">
    <div class="form-field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>

    <input type="submit" value="Registrati" id="submit-btn">
</form>
</body>
</html>