form {
    width: 50%;
    padding: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.form-field {
    margin-top: 1.2rem;
    width: 100%;

    label {
        display: block;
    }

    input {
        width: 100%;
    }
}

#submit-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
}